global:
  scrape_interval: 30s # How often to scrape targets

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['sub-protostar-prometheus:9090']

  - job_name: 'monitoring_host'
    static_configs:
      - targets: ['sub-protostar-node-exporter:9100']

  - job_name: 'monitoring_containers'
    static_configs:
      - targets: ['sub-protostar-cadvisor:8080']

  - job_name: 'service_host'
    static_configs:
      - targets: ['192.168.0.37:9100']

  - job_name: 'service_containers'
    # [안정화] 논리적 충돌을 피하기 위해 주기를 40초로 명시
    scrape_interval: 40s
    # [안정화] 타임아웃을 30초로 설정 (데이터 처리 시간 확보)
    scrape_timeout: 30s 
    static_configs:
      - targets: ['192.168.0.37:8081']